$style: tpl-hamburger;

.tpl-hamburger {
  & svg {
@include size(50px, 80px);
    cursor: pointer;
    // margin-right: -10px;

    transform: translate3d(0px, 0px, 0px);
  }
  svg:not(:root) {
    overflow: hidden;
  }
  & path.#{$style}__top,
  & path.#{$style}__bottom {
    stroke-dasharray: 240px, 950px;
  }
  & path {
    fill: none;
    stroke: $oxford-blue;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s,
      stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  }
  & path.#{$style}__middle {
    stroke-dasharray: 240px, 240px;
  }
  & path {
    fill: none;
    stroke: $oxford-blue;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 40px;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s,
      stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  }

  &.active path.#{$style}__top,
  &.active path.#{$style}__bottom {
    stroke-dashoffset: -650px;
  }
  & path.#{$style}__top,
  & path.#{$style}__bottom {
    stroke-dasharray: 240px, 950px;
  }
  &.active path.#{$style}__middle {
    stroke-dasharray: 1px, 220px;
    stroke-dashoffset: -115px;
  }
}
.tpl-hamburger {
  display: none;
}
.menu__box.active {
  visibility: visible;
  left: 0;
}
.menu {
  &__box {
    @include size(70%, 100%);
    @include flex(center, center, row, nowrap);
    position: fixed;
    visibility: hidden;
    top: 0px;
    left: -100%;
    z-index: 3;

    padding: 50px 0 0 0;

    list-style: none;

    background-color: $mint-crema;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);

    transition-duration: 0.3s;
  }
}
.burger__menu-item {
  padding: 12px;

  text-decoration: none;

  transition-duration: 0.3s;
  text-align: center;
}
@include media-d-m($screen-desktop) {
  .tpl-hamburger {
    display: block;
  }
}

