<section class="about-me">
  <div class="inner">
    <div class="about-me__border border" data-aos="fade-up">
      <article class="about-me__banner banner">
        <h2 class="banner__text">About me</h2>
      </article>
      <div class="about-me__content">
        <img src="./assets/images/about-me_1.png" alt="" class="about-me__img" />
        <div class="about-me__text">
          Hi, I've been doing Front-end since I was 14. Now I'm 18 and I'm almost graduated from the Beetroot Academy. I like to typeset landing pages. In general, experiment. Use HTML/SCSS/JS.
        </div>
      </div>
    </div>
    <a href="#why-i" class="next">
        <h2 class="next__text">Next</h2>
        <h2 class="next__arrow">&#8595</h2>
    </a>
  </div>
</section>
