<section class="contact" id="contact">
  <div class="inner">
    <div class="contact__border border" data-aos="fade-up">
      <article class="contact__banner banner">
        <h2 class="banner__text">Contact</h2>
      </article>
      <div class="contact__content">
        <ul class="contact__items">
          <li class="contact__item"><a href="https://t.me/ttrava/" target="_blank"><img src="./assets/svg/contact-telegram.svg" alt=""><span class="contact__link">https://t.me/ttrava</span></a></li>
          <li class="contact__item"><a href="mailto:pablooeescobaro@gmail.com" target="_blank"><img src="./assets/svg/contact-gmail.svg" alt=""><span class="contact__link">pablooeescobaro@gmail.com</span></a></li>
          <li class="contact__item"><a href="https://acmeco.slack.com/team/U01B8HTEAGJ" target="_blank"><img src="./assets/svg/contact-slack.svg" alt=""><span class="contact__link">https://acmeco.slack.com/team/U01B8HTEAGJ</span></a></li>
          <li class="contact__item"><a href="https://www.linkedin.com/in/pasha-grinchenko-3b6b861bb" target="_blank"><img src="./assets/svg/contact-linked-in.svg" alt=""><span class="contact__link">https://www.linkedin.com/in/pasha-grinchenko-3b6b861bb</span></a></li>
        </ul>
      </div>
    </div>
    <a href="#my-works" class="next">
        <h2 class="next__text">Next</h2>
        <h2 class="next__arrow">&#8595</h2>
    </a>
  </div>
</section>
