<section class="why-i" id="why-i">
    <div class="inner">
      <div class="why-i__border border border--white">
        <article class="why-i__banner banner banner--indigo">
          <h2 class="banner__text banner__text--white">Мои последние работы</h2>
        </article>
        <div class="why-i__content">
          
        </div>
      </div>
      <a class="next" href="#contact">
          <h2 class="next__text next__text--white">Далее</h2>
          <h2 class="next__arrow next__arrow--white">&#8595</h2>
      </a>
    </div>
  </section>