<section class="my-works" id="my-works">
    <div class="inner">
      <div class="my-works__border border border--white" data-aos="fade-up">
        <article class="my-works__banner banner banner--indigo banner--long"  >
          <h2 class="banner__text banner__text--white">My last works</h2>
        </article>
        <div class="my-works__content">
          <ul class="my-works__items">
            <li class="my-works__item">
              <img src="./assets/images/bgromaon_1.png" alt="" class="my-works__img">
              <div class="my-works__content-banner">
                <h2 class="my-works__title">Bhromaon</h2>
                <button class="button button--hover my-works__btn"><span class="button__text">Look at</span></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <a class="next" href="#footer">
          <h2 class="next__text next__text--white">Next</h2>
          <h2 class="next__arrow next__arrow--white">&#8595</h2>
      </a>
    </div>
  </section>