<section class="why-i" id="why-i">
  <div class="inner">
    <div class="why-i__border border border--white">
      <article class="why-i__banner banner banner--indigo">
        <h2 class="banner__text banner__text--white">Why i?</h2>
      </article>
      <ul class="why-i__content">
        <ul class="why-i__items">
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">I do it in a short time</span></li>
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">I work well</span></li>
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">I use modern solutions</span></li>
        </ul>
        <ul class="why-i__items">
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Creative approach to the task</span></li>
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Conscientious and responsible</span></li>
          <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Typesetting semantic and valid code</span></li>
        </ul>
      </ul>
    </div>
    <a class="next" href="#contact">
        <h2 class="next__text next__text--white">Next</h2>
        <h2 class="next__arrow next__arrow--white">&#8595</h2>
    </a>
  </div>
</section>