<section class="why-i" id="why-i">
    <div class="inner">
      <div class="why-i__border border border--white" data-aos="fade-up">
        <article class="why-i__banner banner banner--indigo">
          <h2 class="banner__text banner__text--white">Почему я?</h2>
        </article>
        <ul class="why-i__content">
          <ul class="why-i__items">
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Делаю в короткие сроки</span></li>
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Качественно выполняю работу</span></li>
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Использую современные решения</span></li>
          </ul>
          <ul class="why-i__items">
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Креативно подхожу к заданию</span></li>
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Старательный и ответственный</span></li>
            <li class="why-i__item"><span class="why-i__arrow">&#8594;</span><span class="why-i__item--hover">Верстаю семантический и валидный
              код</span></li>
          </ul>
        </ul>
      </div>
      <a class="next" href="#contact">
          <h2 class="next__text next__text--white">Далее</h2>
          <h2 class="next__arrow next__arrow--white">&#8595</h2>
      </a>
    </div>
  </section>