*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  border: none;
}
ul {
  list-style: none;
}

a, button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}
html{
  background-color: $mint-crema;
  scroll-behavior: smooth;
}
.ru.active{
  left: 0;
  right: 0;
}
.ru{
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}
.en.active{
  left: 0;
  right: 0;
}
.en{
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}
// @include media-d-m($screen-tablet){
//   .animated {
//     -o-transition-property: none !important;
//     -moz-transition-property: none !important;
//     -ms-transition-property: none !important;
//     -webkit-transition-property: none !important;
//     transition-property: none !important;
//     -o-transform: none !important;
//     -moz-transform: none !important;
//     -ms-transform: none !important;
//     -webkit-transform: none !important;
//     transform: none !important;
//     -webkit-animation: none !important;
//     -moz-animation: none !important;
//     -o-animation: none !important;
//     -ms-animation: none !important;
//     animation: none !important;
//   }
// }