*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  border: none;
}
ul {
  list-style: none;
}

a, button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}
html{
  background-color: $mint-crema;
  scroll-behavior: smooth;
}
.ru.active{
  left: 0;
  right: 0;
}
.ru{
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}
.en.active{
  left: 0;
  right: 0;
}
.en{
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}